* {
    font-family: 'Adwaita Sans',  'Symbols Nerd Font';
}

window {
    background: #1e2430;
}

.panel button.sound,
.panel button.bluetooth,
.panel button.battery,
.panel button.network {
    background: #4C566A66;
    border: 0px solid #4C566A;
    color: #ECEFF4;
}


.panel button,
.panel button.clock,
.panel button.power,
.panel button.sound,
.panel button.bluetooth,
.panel button.battery,
.panel button.network {
	background: transparent;
	border: 0;
}

.panel-right {
	border-right: 1px solid #4C566A66;
	padding: 0 10px;
}

.panel-center {
	padding: 0 10px;
}